.example-full-width {
    width: 35%;
    margin-right:80px ;
   
}
.box {
    margin: auto;
    width: auto;
    height: auto;
    padding: 10px;
    border: 1px solid rgb(100, 98, 98);
}   
h3{
    margin-left: 10px;
}
button{
    display: flex;
    flex-direction: row;
    justify-content:end;
}
#continueButton{
    margin-left: 80% ; 
    padding: 20px;
}
.main-content{
    margin-top: 112px;
    margin-left: 177px;
    margin-right: 415px;
    
}
.example-card{
    border: 1px solid #ddd;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); /* Adjust the shadow values */
}