<app-header></app-header>
<div class="form-content">

    <!-- <form class="form" [formGroup]="employeeFormGroup" (ngSubmit)="onSubmit()"> -->
  
      <div class="form-head">BookStore</div>
  
      <!-------Input First Name--------->
      <div class="row-content">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>BookStore</mat-label>
          <input type="name" class="name-input" matInput formControlName="firstName">
        </mat-form-field>
      </div>